.border {
    background: linear-gradient(90deg, var(--primary-color) 0.000%, var(--second-color) 100.000%);
    border-radius: 0.7rem;
    padding: 0.13rem;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.heading {
    font-size: 2rem;
    padding: 0 1rem;
}
.des {
    font-size: 20px;
    padding: 30px;
}