.container {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    max-width: var(--max-width);
    padding: 2px;
    position: relative;
    border-radius: 40px;
    z-index: 1;
}

.background {
    background-image: 
      radial-gradient(circle at top left, var(--primary-color) 0%, transparent 40%),
      radial-gradient(circle at bottom right, var(--second-color) 0%, transparent 40%);
    width: 100%;
    position: relative;
    background-color: #fff4ff;
    border-radius: 40px;
    z-index: 2;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper::after {
    border-radius: inherit;
    content: "";
    background: linear-gradient(90deg, var(--primary-color) 0.000%, var(--second-color) 100.000%);
    position: absolute;
    inset: 0;
    filter: blur(12px);
    opacity: .5;
    transition: all .2s ease-in-out;
}

.wrapper:hover::after {
    filter: blur(30px);
    opacity: 1;
}

.titleAvatar {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.subbackground__goToNext {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    border: solid 1.5px #000;
    padding: 0.75rem;
}
.subbackground__goToNext > * {
    width: 100%;
    height: 100%;
}

@media (max-width: 640px) {
    .titleAvatar {
        flex-direction: column-reverse;
    }
}