.title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
}
.title h1 {
    color: #000000;
    animation: firstText .8s cubic-bezier(0, 0, 0.41, 1.51);
    animation-fill-mode: both;
}

@keyframes firstText {
    from {
        transform: translate(0px, 40px);
        opacity: 0;
    }
    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.subheadingContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subheading {
    width: fit-content;
}

.heading {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(to right, var(--second-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

@media (max-width: 640px) {
    .title {
        position: relative;
    }

    .heading {
        font-size: 2rem;
    }
}