.bigTitle {
    font-size: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.up {
    position: relative;
    left: -50vw;
}
.down {
    position: relative;
    right: -50vw;
}